<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Automatic RML mapping generation</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <div th:replace="fragments/css :: bootstrap"></div>
</head>
<body>
	<div th:replace="fragments/header :: header">
	 <!-- ============================================================================ -->
      <!-- This content is only used for static prototyping purposes (natural templates)-->
      <!-- and is therefore entirely optional, as this markup fragment will be included -->
      <!-- from "fragments/header.html" at runtime.                                     -->
      <!-- ============================================================================ -->
      <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Static header</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
    <p th:text="'Hello, ' + #{dimis} + '!'" />
    <form method="post" action="/dumpRdf">
    <textarea class="form-control" rows="20" name="mapping" th:text="${mapping}">Sample mapping</textarea>
    <input type="submit"/>
    </form>
    </div>
    <div th:replace="fragments/js :: bootstrap"></div>
</body>
</html>
