<html xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="fragments/css :: bootstrap"></div>
</head>
<body>
	<div th:replace="fragments/header :: header">
      <!-- ============================================================================ -->
      <!-- This content is only used for static prototyping purposes (natural templates)-->
      <!-- and is therefore entirely optional, as this markup fragment will be included -->
      <!-- from "fragments/header.html" at runtime.                                     -->
      <!-- ============================================================================ -->
      <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Static header</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
	<div th:if="${message}">
		<div class="container alert alert-success alert-dismissable">
		  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		  <p th:text="${message}">Indicates a successful or positive action.</p>
		</div>
	</div>
	<div class="container">
		<div>
			<form method="POST" enctype="multipart/form-data" action="/">
				<div class="form-group">
					<label for="file">File to upload:</label>
					<input class="form-control" type="file" name="file" id="file" required="true"/>
					<small id="fileHelp" class="form-text text-muted">Select the files to upload</small>
				</div>
				<button type="submit" class="btn btn-primary">Upload</button>
			</form>
		</div>
	
		<div>
			<table class="table table-striped text-center">
				<thead>
					<tr>
						<th class="text-center" th:text="#{fileType}">Type</th>
						<th class="text-center" th:text="#{filename}">Filename</th>
						<th class="text-center" th:text="#{deleteFile}">Delete</th>
						<th class="text-center" th:text="#{generateMapping}">Generate Mapping</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="file : ${files}">
						<td><img height="40" width="40" th:src="${file.type} + '.png'" /></td>
						<td><a th:href="${file.link}" th:text="${file.filename}" /></td>
						<td><form method="post" action="#" th:action="@{${file.deleteLink}}"><button style="background:none!important;color:inherit;border:none;padding:0!important;font: inherit;border-bottom:1px solid #444;cursor: pointer;" type="submit" class="btn"><span style="font-size: 1.2em" class="glyphicon glyphicon-remove"></span></button></form></td>
						<td><a class="btn" th:if="${file.generateMappingLink != null}" th:href="${file.generateMappingLink != null} ? ${file.generateMappingLink} : '#'"><span style="font-size: 1.4em" class="glyphicon glyphicon-file"></span></a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div th:replace="fragments/footer :: footer">&copy; 2013 The Static Templates</div>
	<div th:replace="fragments/js :: bootstrap"></div>
</body>
</html>
